body
{
  font-family: sans;
  font-size: smaller;
  margin-top: 0;
  background: white;
  }

ul#messages
{
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  }

ul#messages > li 
{
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  }

ul#messages > li:hover 
{
  background-color: #f2f2ff;
  }

a 
{
  color: darkblue;
  }

a:hover 
{
  color: blue;
  }

.message, .note, .event
{
  position: relative;
  }

.event > .body
{
  position: relative;
  font-style: italic;
  }
.event.join > .body:before
{
  content: "» ";
  }
.event.leave > .body:before
{
  content: "« ";
  }
.event.topic > .body:before
{
  content: "· ";
  font-weight: bold;
  }

.sender 
{
  font-weight: bold;
  margin-right: 0.5em;
  }
.sender:before 
{
  content: "<";
  }
.sender:after 
{
  content: ">";
  }

.body
{
  white-space: -moz-pre-wrap;
  }

img.emoticon
{
  margin: 0 0;
  padding: 0 0;
  vertical-align: text-bottom;
  }

#blueprint
{
  display: none;
  }

#preload
{
  display: none;
  }


/* .info  */
/* { */
/*   position: relative; */
/*   z-index: 24; */
/*   text-decoration: none; */
/*   } */

/* .info:hover  */
/* { */
/*   z-index:25; */
/*   } */

/* .info>.tooltip  */
/* { */
/*   display: none; */
/*   } */

/* .info:hover>.tooltip  */
/* {  */
/*   display: block; */
/*   position: absolute; */
/*   top: -0.5em;  */
/*   right: -0.5em; */
/*   padding-right: 1em; */
/*   padding-left: 1em; */
/*   font-style: normal; */
/*   border: thin solid #0cf; */
/*   background-color: #cff; */
/*   color: #000; */
/*   text-align: center; */
/*   opacity: 0.80; */
/*   font-weight: bold; */
/*   font-size: 90%; */
/*   } */

