body
{
  font-family: "Bitstream Vera Sans", arial, sans;
  font-size: smaller;
  margin-top: 0;
  background: white;
  }

ul#messages
{
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  }

ul#messages > li 
{
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  }

a 
{
  color: darkblue;
  cursor: pointer;
  text-decoration: underline;
  }

a:hover 
{
  color: blue;
  }

.message, .note, .event
{
  position: relative;
  }

.event > .body
{
  position: relative;
  font-style: italic;
  }
.event.join > .body:before
{
  content: "» ";
  }
.event.leave > .body:before
{
  content: "« ";
  }
.event.topic > .body:before
{
  content: "· ";
  font-weight: bold;
  }

.event.error > .body:before
{
  content: "! ";
  font-weight: bold;
  }

.user
{
  color: #0c5588;
  }

.contact
{
  color: #9e0909;
  }

.user, .contact
{
  font-weight: bold;
  margin-right: 0.5em;
  }
.user:before, .contact:before
{
  content: "<";
  }
.user:after, .contact:after
{
  content: ">";
  }

.body
{
  white-space: -moz-pre-wrap;
  }

img.emoticon
{
  margin: 0 0;
  padding: 0 0;
  vertical-align: text-bottom;
  }

#blueprint
{
  display: none;
  }

#preload
{
  display: none;
  }

.tooltip
{
  position: fixed;
  z-index: 100;
  right: 10px;
  text-align: center;
  top: 0;
  display: none;
  background: #C4C4FF;
  padding: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: smaller;
  opacity: 0.8;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  }

.message:hover>.tooltip
{
  display: block;
  }

#info
{
  z-index: 1000;
  padding-left: 1em;
  padding-right: 0.5em;
  padding-top: 1em;
  font-size: smaller;
  position: fixed;
  top: 20px;
  left: 90%;
  max-height: 80%;
  background: #C4C4FF;
  white-space: nowrap;
  opacity: 0.25;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-bottomleft: 12px;
  }

#info:hover
{
  opacity: 0.8;
  left: auto;
  right: 0;
  }

.box
{
  margin-bottom: 0.5em;
  }

.box > h3
{
  margin: 0;
  }

.box[for="resources"] > ul,
.box[for="groups"] > ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

.box[for="topic"],
.box[for="resources"],
.box[for="groups"]
{
  display: none;
  }
