/*
 * Copyright 2006-2007 by Massimiliano Mirra
 * 
 * This file is part of SamePlace.
 * 
 * SamePlace is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation; either version 3 of the License, or (at your
 * option) any later version.
 * 
 * SamePlace is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * Author: Massimiliano Mirra, <bard [at] hyperstruct [dot] net>
 *  
 */


/* CONTROLS - GENERAL */

#controls .control {
    opacity: 0.4;
    -moz-box-align: center;
    -moz-box-pack: center;
    min-width: 24px;
    border: none;
    background: #ddd;
    -moz-border-radius: 10px;
    margin: 6px;
}

#controls .control:hover,
#controls .control.active {
    opacity: 0.85;
}

#controls .control.dock {
    height: 48px;
}

#controls .dock-tools {
    -moz-box-align: center;
    overflow: hidden;
}

#controls .dock-tools textbox {
    -moz-appearance: none;
    border: 1px solid lightgrey;
    font-size: smaller;
}


/* ARROWS */

#controls .scroll-arrow {
    height: 96px;
    display: none;
}

#controls .scroll-arrow[speed="0"] image { height: 21px; }
#controls .scroll-arrow[speed="1"] image { height: 24px; }
#controls .scroll-arrow[speed="2"] image { height: 27px; }
#controls .scroll-arrow[speed="3"] image { height: 30px; }
#controls .scroll-arrow[speed="4"] image { height: 33px; }
#controls .scroll-arrow[speed="5"] image { height: 36px; }
#controls .scroll-arrow[speed="6"] image { height: 39px; }
#controls .scroll-arrow[speed="7"] image { height: 42px; }
#controls .scroll-arrow[speed="8"] image { height: 45px; }

#controls .scroll-arrow-up {
    -moz-border-radius-topleft: 0;
    margin-left: 0;
}

#controls .scroll-arrow-up image {
    list-style-image: url('arrow-up.png');
}

#controls .scroll-arrow-down image {
    list-style-image: url('arrow-down.png');
}


/* INLINE TOOLTIP */

#controls .inline-tooltip {
    -moz-box-pack: center;
    -moz-box-align: end;
    font-size: 10px;
    margin-bottom: -26px;
}

#controls .inline-tooltip > label {
    background: #ddd;
    padding: 8px 10px 2px 10px;
    -moz-border-radius: 0 0 14px 14px;
}


/* DOCK */

#controls .dock {
    -moz-border-radius: 10px;
}

#controls .dock .icon {
    padding: 8px 4px;
    opacity: 0.5;
}

#controls .dock:hover .icon {
    opacity: 1.0;
}

#controls .dock .icon:hover {
    padding: 0;
    height: 32px;
    width: 32px;
}

#controls .dock .icon.people        { list-style-image: url("people.png");        }
#controls .dock .icon.filter        { list-style-image: url("filter.png");        }
#controls .dock .icon.sort          { list-style-image: url("sort.png");          }
#controls .dock .icon.tools         { list-style-image: url("../tools.png");      }
#controls .dock .icon.conversations { list-style-image: url("conversations.png"); }
#controls .dock .icon.help          { list-style-image: url("help.png");          }

/* #controls .doc .icon.status is taken care by .presence-indicator */

#controls .dock .icon.presence-indicator:hover {
    list-style-image: url("status32x128.png");
    -moz-image-region: rect(96px 32px 128px 0px);
}

#controls .dock .icon.presence-indicator:hover[availability="unavailable"] {
    -moz-image-region: rect(96px 32px 128px 0px);
}

#controls .dock .icon.presence-indicator:hover[availability="available"] {
    -moz-image-region: rect(32px 32px 64px 0px);
}

#controls .dock .icon.presence-indicator:hover[availability="available"][show="dnd"] {
    -moz-image-region: rect(0px 32px 32px 0px);
}

#controls .dock .icon.presence-indicator:hover[availability="available"][show="away"],
#controls .dock .icon.presence-indicator:hover[availability="available"][show="xa"] {
    -moz-image-region: rect(64px 32px 96px 0px);
}



/* OFFLINE NOTICE */

#controls .control.offline-notice {
    opacity: 0.9;
    color: #eee; 
    background: #999;
    padding: 5px;
}

#controls .control.offline-notice .notice {
    font-size: 22px;
}

#controls .control.offline-notice .action {
    font-size: 18px;
}

#controls .control.offline-notice .action:hover {
    color: black;
}


/* REACTION TO SCROLL */

#controls.more-up .dock {
    margin-right: 6px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
}

#controls.more-up .scroll-arrow-up,
#controls.more-down .scroll-arrow-down {
    display: -moz-box;
    min-width: 48px;
    max-width: 64px;
}

#controls:not(.more-up) .control.dock,
#controls:not(.more-up) .control.dock .icon {
    opacity: 0.9;
}


/* REACTION TO RESIZE */

#view.compact .control.dock .icon:not(.presence-indicator), 
#view.compact .inline-tooltip {
    display: none;
}

#view.compact .control.dock {
    -moz-border-radius: 10px;
}

#view.compact #controls.more-up .control.dock {
    -moz-border-radius: 10px 10px 0 0;
}

#view.compact .scroll-arrow-up {
    -moz-border-radius: 0 0 10px 10px;
    margin: 0 6px;
}



/* PRESENCE INDICATOR */

/* used in many places - should be factored out */

.presence-indicator {
    list-style-image: url("status16x64.png");
    -moz-image-region: rect(48px 16px 64px 0px);
}

.presence-indicator[availability="unavailable"] {
    -moz-image-region: rect(48px 16px 64px 0px);
}

.presence-indicator[availability="available"] {
    -moz-image-region: rect(16px 16px 32px 0px);
}

.presence-indicator[availability="available"][show="dnd"] {
    -moz-image-region: rect(0px 16px 16px 0px);
}

.presence-indicator[availability="available"][show="away"],
.presence-indicator[availability="available"][show="xa"] {
    -moz-image-region: rect(32px 16px 48px 0px);
}



