/*
 * Copyright 2006-2007 by Massimiliano Mirra
 * 
 * This file is part of SamePlace.
 * 
 * SamePlace is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation; either version 3 of the License, or (at your
 * option) any later version.
 * 
 * SamePlace is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * Author: Massimiliano Mirra, <bard [at] hyperstruct [dot] net>
 *  
 */


@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* CONTACT LIST */

#contacts {
    background: #f8f8f8;
    margin: 0px;
}

#contacts scrollbar {
    /* works in Firefox2.  needs run-time application of ./scrollbars.css in Firefox3. */
    display: none;
}

#contacts .scrollbox-innerbox {
    /* make room for upper control */
    margin-top: 56px;
}

#contacts richlistitem[selected="true"] {
    color: black;
    background: white;
}


/* HEADERS */

#contacts .header {
    -moz-box-pack: center;
    font-size: 9px;
    font-weight: bold;
    border-bottom: 1px solid rgb(227,227,227);
}

#contacts .header:not(.active) {
    display: none;
}


/* CONTACT */

#contacts .contact {
    padding: 2px 4px 6px 4px;
/*    border-top: 1px solid transparent;*/
    border-bottom: 1px solid rgb(227,227,227);
}

#contacts .contact:hover {
/*    border-top-color: rgb(215,215,215);*/
/*    border-bottom-color: rgb(215,215,215);*/
    background: rgb(241,241,241);
}

#contacts .contact[dragover="true"] {
    border-top: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
}


/* CONTACT CONTENT */

/* avatar area */

#contacts .contact .avatar-stack {
    margin-top: 4px;
    margin-left: 4px;
    width: 52px;
    height: 58px;
}

#contacts .contact .avatar-stack > vbox {
    -moz-box-align: start;
}

/* avatar area -> small name (visible when no avatar available) */

#contacts .contact .avatar-stack .small-name {
    margin: 32px 0 0 0;
    width: 48px;
    color: #444;
    font-size: 9px;
    text-align: center;
    padding: 0 2px;
}

/* avatar area -> avatar */

#contacts .contact .avatar-stack .avatar {
    width: 48px;
    height: 48px;
    -moz-border-radius: 3px;
    border: 1px solid lightgray;
    background: #fff;
}

#contacts .contact .avatar-stack .avatar:not([photo-hash]) {
    list-style-image: url("avatar-default.png");
    background: transparent;
}


/* avatar area -> indicators (status etc.) */

#contacts .contact .avatar-stack .indicators {
    padding: 0 4px;
    margin-top: 44px;
}

#contacts .contact .avatar-stack .icon-pending {
    list-style-image: url("email.png");
    visibility: hidden;
}

#contacts .contact .avatar-stack .icon-status {
    list-style-image: url("status16x64.png");
    width: 16px;
    height: 16px;
    visibility: hidden;
}

#contacts .contact[availability="available"][show=""] .avatar-stack .icon-status,
#contacts .contact[availability="available"][show="chat"] .avatar-stack .icon-status {
    -moz-image-region: rect(16px 16px 32px 0px);
}

#contacts .contact[availability="unavailable"] .avatar-stack .icon-status {
    visibility: visible;
    -moz-image-region: rect(48px 16px 64px 0px);
}

#contacts .contact[availability="available"][show="away"] .avatar-stack .icon-status,
#contacts .contact[availability="available"][show="xa"] .avatar-stack .icon-status {
    visibility: visible;
    -moz-image-region: rect(32px 16px 48px 0px);
}

#contacts .contact[availability="available"][show="dnd"] .avatar-stack .icon-status {
    visibility: visible;
    -moz-image-region: rect(0px 16px 16px 0px);
}
/*
#contacts .contact .service {
    list-style-image: url("../services/server_im.png");
    opacity: 0.25;
}

#contacts .contact .service:hover {
    opacity: 0.8;
}

#contacts .contact[address$="@sameplace.cc"] .service {
    list-style-image: url("../services/server_im_sameplace.png");
}

#contacts .contact[address$="@gmail.com"] .service,
#contacts .contact[address$="@googlemail.com"] .service {
    list-style-image: url("../services/server_im_gtalk.png");
}

#contacts .contact[address$="@twitter.x4m.localhost"] .service {
    list-style-image: url("../services/server_x-turtle-twitter.png");
}
*/

/*
#contacts .contact:not([pending="0"]) .icon.icon-email {
    display: -moz-box;
    list-style-image: url("email.png");
}
*/

/* contact content area */

#contacts .contact vbox.info {
    overflow: hidden
}

#contacts .contact .info label.name {
    font-size: 14px;
    color: rgb(20,20,20);
}

/* XXX re-activate once clicking on contact does something */
/*
#contacts .contact .info label.name:hover {
    text-decoration: underline;
    color: blue;
}
*/

#contacts .contact .status {
    font-size: 10px;
    color: rgb(60,60,60);
/*    padding-left: 4px;*/
    overflow: hidden;
}

#contacts .contact .status label.text-link {
    margin: 0;
}

#contacts .contact vbox.extra {
    overflow: hidden;
}



/* DISPLAY MODES */

/* sort by activity */

#contacts[sort="activity"] .header {
    display: none;
}

/* filtering */

#contacts[filtering="true"] .contact:not([candidate="true"]) {
    display: none;
}

#contacts[filtering="true"] .header {
    display: none;
}

/* show/hide unavailable contacts */

#contacts.hide-unavailable .contact[availability="unavailable"] {
    display: none;
}

/* compact/expanded view */

/*
#view #contacts .contact .small-name {
    display: none;
}

#view.compact #contacts .small-name {
    display: -moz-box;
}
*/


/* POPUPS */

popup.with-headers menuitem.header {
    font-weight: bold;
    color: black;
}

popup.with-headers .offset {
    padding-left: 1em;
}

#status-popup {
    max-width: 200px;
}

#contact-popup:not(.groupchat) .remove-room {
    display: none;
}

#contact-popup.groupchat .set-contact-alias,
#contact-popup.groupchat .remove-contact {
    display: none;
}



/* BUTTONS */

button#collapse-conversations {
    -moz-appearance: none !important;
    border: none;
    margin: 0;
    padding: 0;
    min-width: 7px;
    list-style-image: url("chrome://global/skin/arrow/arrow-lft.gif");
}

button#collapse-conversations[checked="true"] {
    list-style-image: url("chrome://global/skin/arrow/arrow-rit.gif");
}


/* experiments ... */


.contact {
    opacity: 0.9;
}

.contact:hover {
    opacity: 1;
}

