/*
 * Copyright 2006-2007 by Massimiliano Mirra
 * 
 * This file is part of SamePlace.
 * 
 * SamePlace is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation; either version 3 of the License, or (at your
 * option) any later version.
 * 
 * SamePlace is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * Author: Massimiliano Mirra, <bard [at] hyperstruct [dot] net>
 *  
 */


@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

dialog {
    width: 300px;
    padding: 0 0 10px 0;
}

#content {
    background: #fff; overflow: hidden;
}

#logo {
    margin-right: -30px;
    list-style-image: url("logo-large.png");
}

#name-box {
    padding: 10px;
}

#name {
    font-size: 22px;
}

#version {
    font-size: 12px;
}

#legal {
    margin-top: 20px;
    height: 150px;
    padding: 0 1em;
    background: white;
    overflow: auto;
}

html|a {
    color: blue;
    text-decoration: underline;
}
