/*
 * Copyright 2006-2007 by Massimiliano Mirra
 * 
 * This file is part of SamePlace.
 * 
 * xmpp4moz is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation; either version 3 of the License, or (at your
 * option) any later version.
 * 
 * xmpp4moz is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * Author: Massimiliano Mirra, <bard [at] hyperstruct [dot] net>
 *  
 */

#sameplace-button[availability="available"] { 
    list-style-image: url("logo24x24.png");
}

#sameplace-button[availability="unavailable"] {
    list-style-image: url("logo24x24-unavailable.png");    
}

#sameplace-button[availability="available"][pending-messages] {
    list-style-image: url("logo24x24-pending.png");
}

toolbar[iconsize="small"] #sameplace-button[availability="available"] {
    list-style-image: url("logo16x16.png");
}

toolbar[iconsize="small"] #sameplace-button[availability="unavailable"] {
    list-style-image: url("logo16x16-unavailable.png");
}

toolbar[iconsize="small"] #sameplace-button[availability="available"][pending-messages] {
    list-style-image: url("logo16x16-pending.png");
}

