#contacts {
    background: white url("user-bg.png") bottom right no-repeat;
}

#contacts [role="contact"] [role="status"] {
    font-size: smaller;
    padding-left: 1em;
    margin-bottom: 0.4em;
    color: graytext;
}

#contacts [role="contact"] {
    border: thin solid transparent;
}

#contacts [role="contact"]:hover {
    border: thin dotted gray;
}
  
/* CONVERSATION FOCUS START */

#contacts [role="contact"][open="true"][current="true"] [role="name"] {
    font-weight: bold;
}

#contacts [role="contact"][availability="unavailable"][open="false"] {
    color: graytext;
    font-size: smaller;
}

#contacts [role="contact"][open="false"] { 

}

#contacts [role="contact"][open="true"] {

}

#contacts [role="contact"] [role="conversation-indicator"] {
    list-style-image: url("in-conversation.png");
    max-width: 16px;
    max-height: 16px;    
}

#contacts [role="contact"][open="false"] [role="conversation-indicator"] {
    display: none;
}

#contacts [role="contact"][open="true"] [role="conversation-indicator"] {
    
}

/* CONVERSATION FOCUS END */

/* STATUS INDICATOR START */

#contacts [role="contact"] [role="status-indicator"] {
    list-style-image: url("all-small.png");
    max-width: 16px;
    max-height: 16px;
    -moz-image-region: rect(48px 16px 64px 0px);
}

#contacts [role="contact"][availability="available"][show="dnd"] [role="status-indicator"] {
    -moz-image-region: rect(0px 16px 16px 0px);
}

#contacts [role="contact"][availability="available"] [role="status-indicator"] {
    -moz-image-region: rect(16px 16px 32px 0px);
}

#contacts [role="contact"][availability="available"][show="away"] [role="status-indicator"],
#contacts [role="contact"][availability="available"][show="xa"]   [role="status-indicator"] {
    -moz-image-region: rect(32px 16px 48px 0px);
}

#contacts [role="contact"][availability="unavailable"] [role="status-indicator"] {
    -moz-image-region: rect(48px 16px 64px 0px);
}

#contacts [role="contact"] [role="pending"] {
    font-weight: bold;
    color: red;
}

#contacts [role="contact"] [role="pending"][value="0"] {
    visibility: hidden;
}

/* STATUS INDICATOR END */

#contacts label[role="open"],
#contacts label[role="online"],
#contacts label[role="offline"] {
    background: url('label-bg.png') repeat-y;
    font-size: smaller;
    font-style: italic;
    margin-left: 0;
    margin-top: 2px;
    padding-left: 1em;
}

#contacts [role="contact"][chatstate="active"] [role="name"]{
    color: black;
}

#contacts [role="contact"][chatstate="composing"] [role="name"]{
    color: #E8871E;
}

#contacts [role="contact"][chatstate="paused"] [role="name"]{
    color: #C4823B;
}

#contacts [role="contact"][chatstate="inactive"] [role="name"]{
    color: #A66E32;
}

#contacts [role="contact"][chatstate="gone"] [role="name"]{
    color: black;
}
