/*
 * Copyright 2006-2007 by Massimiliano Mirra
 * 
 * This file is part of SamePlace.
 * 
 * SamePlace is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation; either version 3 of the License, or (at your
 * option) any later version.
 * 
 * SamePlace is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * The interactive user interfaces in modified source and object code
 * versions of this program must display Appropriate Legal Notices, as
 * required under Section 5 of the GNU General Public License version 3.
 *
 * In accordance with Section 7(b) of the GNU General Public License
 * version 3, modified versions must display the "Powered by SamePlace"
 * logo to users in a legible manner and the GPLv3 text must be made
 * available to them.
 * 
 * Author: Massimiliano Mirra, <bard [at] hyperstruct [dot] net>
 *  
 */


#contacts {
    background: white url("contacts-background.png") bottom right no-repeat;
}

#contacts [role="contact"] [role="status"] {
    font-size: smaller;
    padding-left: 1em;
    margin-bottom: 0.4em;
    color: graytext;
}

#contacts [role="contact"] {
    border: thin solid transparent;
}

#contacts [role="contact"]:hover {
    border: thin dotted gray;
}
  
/* CONVERSATION FOCUS START */

#contacts [role="contact"][open="true"][current="true"] [role="name"] {
    font-weight: bold;
}

#contacts [role="contact"][availability="unavailable"][open="false"] {
    color: graytext;
    font-size: smaller;
}

#contacts [role="contact"][open="false"] { 

}

#contacts [role="contact"][open="true"] {

}

#contacts [role="contact"] [role="conversation-indicator"] {
    list-style-image: url("in-conversation.png");
    max-width: 16px;
    max-height: 16px;    
}

#contacts [role="contact"][open="false"] [role="conversation-indicator"] {
    display: none;
}

#contacts [role="contact"][open="true"] [role="conversation-indicator"] {
    
}

/* CONVERSATION FOCUS END */

/* STATUS INDICATOR START */

#contacts [role="contact"] [role="status-indicator"] {
    list-style-image: url("all-small.png");
    max-width: 16px;
    max-height: 16px;
    -moz-image-region: rect(48px 16px 64px 0px);
}

#contacts [role="contact"][availability="available"][show="dnd"] [role="status-indicator"] {
    -moz-image-region: rect(0px 16px 16px 0px);
}

#contacts [role="contact"][availability="available"] [role="status-indicator"] {
    -moz-image-region: rect(16px 16px 32px 0px);
}

#contacts [role="contact"][availability="available"][show="away"] [role="status-indicator"],
#contacts [role="contact"][availability="available"][show="xa"]   [role="status-indicator"] {
    -moz-image-region: rect(32px 16px 48px 0px);
}

#contacts [role="contact"][availability="unavailable"] [role="status-indicator"] {
    -moz-image-region: rect(48px 16px 64px 0px);
}

#contacts [role="contact"] [role="pending"] {
    font-weight: bold;
    color: red;
}

#contacts [role="contact"] [role="pending"][value="0"] {
    visibility: hidden;
}


/* CONTACT VISIBILITY START */

[role="contact"][availability="unavailable"] {
    display: none;
}

#contacts.show-offline [role="contact"][availability="unavailable"],
[role="contact"][availability="unavailable"][open="true"] {
    display: -moz-box;
}

/* CONTACT VISIBILITY END */



/* STATUS INDICATOR END */

#contacts [role="contact"][chatstate="active"] [role="name"]{
    color: black;
}

#contacts [role="contact"][chatstate="composing"] [role="name"]{
    color: #E8871E;
}

#contacts [role="contact"][chatstate="paused"] [role="name"]{
    color: #C4823B;
}

#contacts [role="contact"][chatstate="inactive"] [role="name"]{
    color: #A66E32;
}

#contacts [role="contact"][chatstate="gone"] [role="name"]{
    color: black;
}

#contact-menu.groupchat [role="set-contact-alias"],
#contact-menu.groupchat [role="remove-contact"] {
    display: none;
}

#contact-menu.chat [role="remove-room"] {
    display: none;
}