[command="join-room"]
{
  list-style-image: url("join.png");
  }

[command="cycle-layout"]
{
  list-style-image: url("cycle-layout.png");
  }

[command="orient-layout"]
{
  list-style-image: url("orient-layout.png");
  }

richlistitem.participant
{
  padding: 0.2em;
  }

richlistitem.participant>image
{
  list-style-image: url("user.png");
  }

richlistitem[role="contact"][availability="available"]
{
  }

richlistitem[role="contact"][availability="unavailable"]
{
  color: graytext;
  font-size: smaller;
  }

richlistbox[role="contact-info"]
{
  font-size: smaller;
  background: white url('chrome://mozeskine/skin/contact-info-bg.png') no-repeat bottom right;
  min-height: 100px;
  }

#contact-list
{
  background: white url('chrome://mozeskine/skin/user-bg.png') bottom right no-repeat;
  }


#splitter-main
{
  width: 8px;
  height: 8px;
  }

#splitter-main:hover
{
  background-color: -moz-buttonhoverface;
  }