[command="join-room"]
{
  list-style-image: url("join.png");
  }

[command="exit-room"]
{
  list-style-image: url("close.png");
  }

[command="auxiliary-visible"][checked="true"]
{
  list-style-image: url("hide-auxiliary.png");
  }

[command="auxiliary-visible"][checked="false"]
{
  list-style-image: url("show-auxiliary.png");
  }

[command="switch-layout"]
{
  list-style-image: url("switch-layout.png");
  }

richlistitem.participant
{
  padding: 0.2em;
  }

richlistitem.participant>image
{
  list-style-image: url("user.png");
  }

