* [command="connect"]
{
  list-style-image: url("connect.png");
  }

* [command="disconnect"]
{
  list-style-image: url("disconnect.png");
  }

* [command="debug"]
{
  list-style-image: url("debug.png");
  }

richlistitem.participant
{
  padding: 0.2em;
  }

richlistitem.participant>image
{
  list-style-image: url("user.png");
  }