/*
 * Copyright 2006-2007 by Massimiliano Mirra
 * 
 * This file is part of SamePlace.
 * 
 * SamePlace is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation; either version 3 of the License, or (at your
 * option) any later version.
 * 
 * SamePlace is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * The interactive user interfaces in modified source and object code
 * versions of this program must display Appropriate Legal Notices, as
 * required under Section 5 of the GNU General Public License version 3.
 *
 * In accordance with Section 7(b) of the GNU General Public License
 * version 3, modified versions must display the "Powered by SamePlace"
 * logo to users in a legible manner and the GPLv3 text must be made
 * available to them.
 * 
 * Author: Massimiliano Mirra, <bard [at] hyperstruct [dot] net>
 *  
 */


#sameplace-sidebar-splitter {
    border-right: 1px solid rgb(142, 142, 142);
    border-left: 1px solid rgb(190, 190, 190);
    background-color: rgb(236, 236, 236);
}

#expandedPresence .emailDisplayImage {
    max-width: 16px;
    max-height: 16px;
    list-style-image: url("chrome://xmpp4moz/skin/status/all-small.png");
}

#expandedPresence[availability="unavailable"] [anonid="emailImage"] {
    -moz-image-region: rect(48px 16px 64px 0px);
}

#expandedPresence[availability="available"] [anonid="emailImage"] {
    -moz-image-region: rect(16px 16px 32px 0px);
}

#expandedPresence[availability="available"][show="dnd"] [anonid="emailImage"] {
    -moz-image-region: rect(0px 16px 16px 0px);
}

#expandedPresence[availability="available"][show="away"] [anonid="emailImage"],
#expandedPresence[availability="available"][show="xa"] [anonid="emailImage"] {
    -moz-image-region: rect(32px 16px 48px 0px);
}

#sameplace-conversation-tabs .tabs-closebutton > .toolbarbutton-icon {
    -moz-margin-end: 0px !important;
    -moz-padding-end: 2px !important;
    -moz-padding-start: 2px !important;
}

#sameplace-conversation-tabs .tabs-closebutton {
    list-style-image: url("chrome://global/skin/icons/close.png");
    -moz-appearance: none;
    -moz-image-region: rect(0px, 16px, 16px, 0px);
    padding: 4px 2px;
    border: none !important;
}

#sameplace-conversation-tabs .tabs-closebutton:hover {
    -moz-image-region: rect(0px, 32px, 16px, 16px);
}

#sameplace-conversation-tabs .tabs-closebutton:hover:active {
    -moz-image-region: rect(0px, 48px, 16px, 32px);
}

#sameplace-conversation-tabs[mode="fake"] .tabs-closebutton {
    -moz-image-region: rect(0px, 64px, 16px, 48px);
}


#sameplace-conversation-tabs tab image {
    margin-right: 5px;
}

#sameplace-conversation-tabs tab.mail image {
    list-style-image: url("email.png");
}

#sameplace-conversation-tabs tab.im image {
    list-style-image: url("all-small.png");
    -moz-image-region: rect(16px 16px 32px 0px);
}

#sameplace-fake-mail-tab .tabs-right {
    display: none;
}