[command="add-contact"] {
    list-style-image: url("contact-add.png");
}

[command="open-conversation"] {
    list-style-image: url("open.png");
}

[role="close"] {
    list-style-image: url("close.png");
    -moz-image-region: rect(0px, 16px, 16px, 0px);
}

[role="close"]:hover {
    -moz-image-region: rect(0px, 32px, 16px, 16px);
}

[role="attach"][count="0"] {
    list-style-image: url("attach.png");
}

[role="attach"] {
    list-style-image: url("attached.png");
}

[role="conversation"] [role="contact"] {

}

#status-message[draft="true"] {
    color: graytext;
}


#contact > popup > menuitem {
    list-style-image: url("chrome://xmpp4moz/skin/status/all-small.png"); 
}

#contact > popup > menuitem[availability="unavailable"] {
    color: graytext ! important;
    -moz-image-region: rect(48px 16px 64px 0px);
}

#contact > popup > menuitem[availability="available"] {
    -moz-image-region: rect(16px 16px 32px 0px);
}

#contact > popup > menuitem[availability="available"][show="dnd"] {
    -moz-image-region: rect(0px 16px 16px 0px);
}

#contact > popup > menuitem[availability="available"][show="away"],
#contact > popup > menuitem[availability="available"][show="xa"] {
    -moz-image-region: rect(32px 16px 48px 0px);
}

