[command="add-contact"]
{
  list-style-image: url("contact-add.png");
  }

[command="open-conversation"]
{
  list-style-image: url("open.png");
  }

[role="close"]
{
  list-style-image: url("close.png");
  }

[role="conversation"] [role="attach"]
{
  list-style-image: url("attach.png");
  }

[role="conversation"] [role="contact"]
{

  }

[role="conversation"] [role="smileys"]
{
  list-style-image: url("emoticons/wink-small.png");
  }


#status-message[draft="true"]
{
  color: graytext;
  }