
@import url("chrome://global/skin/xulscrollbars.css");

/**********************************************************************
THE WINDOW
These base styles are basically here to tell other -moz styles from
spoiling our lovely UI. !important is necessary to make sure these
styles override any OS-specific styles as well.
**********************************************************************/

page {
  -moz-user-focus: ignore !important;
  -moz-appearance: none !important; /* grrrr! */
  background-image: none !important;
  list-style-image: none !important;
}

tree{ 
  -moz-appearance: none !important; /* grrrr! */
  background-image: none !important;
  list-style-image: none !important;
}

.sb_faceplate {
  -moz-appearance: none !important; /* grrrr! */
  -moz-background-clip: padding !important;
  border: none !important;
  margin: 0px !important;
  padding: 0px !important;
  min-width: 0px !important;
  min-height: 0px !important;
  border-width: 0px !important;
  font-family: tahoma, arial !important; /*arial is the fallback font*/
  font-size: 11px !important;
}

.sb_faceplate {
  -moz-user-focus: ignore !important;
}  

/* Edit-in-place popups overlapping the entries in the service pane tree */

.sb_faceplate_edit {
  -moz-appearance:none !important;
}

/**********************************************************************
THE WINDOW CHROME
**********************************************************************/

.window,
.chrome_bkgd,
#chrome_bkgd,
#chrome_e,
#chrome_w,
#chrome_nw,
#chrome_n,
#chrome_ne {
  -moz-appearance:none !important;
}


/**********************************************************************
CHROME - Top Bar
Minimize, Maximize, Restore, and Switch to Mini-Mode
**********************************************************************/

#sysbtn_maximize hbox,
#sysbtn_maximize,
#sysbtn_maximize > hbox > image,
#sysbtn_maximize > hbox > label,
#sysbtn_maximize > hbox,
#sysbtn_maximize > image {
  -moz-appearance:none !important;
}
/* END CHROME **/


/**********************************************************************
SCROLLBARS
**********************************************************************/ 

scrollbar,
scrollbar > scrollbarbutton[sbattr="scrollbar-up-top"],  
scrollbar > scrollbarbutton[sbattr="scrollbar-up-bottom"],
scrollbar > scrollbarbutton[sbattr="scrollbar-down-top"],  
scrollbar > scrollbarbutton[sbattr="scrollbar-down-bottom"],
scrollbar > slider > thumb > gripper,
scrollbar > slider > thumb,
scrollbar > slider,

/* END SCROLLBARS */


/**********************************************************************
THE MAIN PANE
**********************************************************************/ 

#main_pane_border {
  -moz-appearance: none !important;
}


/**********************************************************************
RESIZERS
**********************************************************************/ 
#frame_resize_t,
#frame_resize_to,
#frame_resize_m,
#frame_resize_mo,
#resize {
  -moz-appearance: none !important; /* grrrr! */
}


/**********************************************************************
TOOLTIPS
**********************************************************************/

tooltip {
  -moz-appearance: none !important; /* grrrr! */  
}


/**********************************************************************
WEB BAR
Browser Toolbar, Address Box, and Url-Slurper Button
**********************************************************************/

/* the box with the url image and the url textbox */
#browser_url_box,
#browser_url_image,
#browser_url,
#contact,
.mainwin_location,
#browser_url input:focus,
#browser_url input[selected="true"],
#browser_toolbar,
#browser_toolbar button ,
#browser_toolbar button[disabled="true"],
#browser_toolbar button[disabled="true"]:hover,
#browser_back,
#browser_back:hover,
#browser_back[disabled="true"],
#browser_back[active="true"],
#browser_refresh,
#browser_refresh:hover,
#browser_refresh[disabled="true"],
#browser_refresh[active="true"],
#browser_stop,
#browser_stop:hover,
#browser_stop[disabled="true"],
#browser_stop[active="true"],
#browser_fwd,
#browser_fwd:hover,
#browser_fwd[disabled="true"],
#browser_fwd[active="true"],
#browser_home,
#browser_home:hover,
#browser_home[disabled="true"],
#browser_home[active="true"],
#browser_bookmark,
#browser_bookmark:hover,
#browser_bookmark[disabled="true"],
#browser_bookmark[active="true"],
#browser_playlist,
#browser_playlist:hover,
#browser_playlist[disabled="true"],
#browser_download,
#browser_download:hover,
#browser_download[disabled="true"] {
  -moz-appearance: none !important; /* grrrr! */
}
/* END WEB BAR */


/**********************************************************************
DIALOG BOXES and their buttons
**********************************************************************/

#window_top, 
.dialog_label,
.dialog_button, /* dialog buttons */
.backless_button, /* Used in Watch Folders **/
#button_ok[disabled="true"],
#button_ok:hover[disabled="true"],
#button_browse[disabled="true"],
#button_browse:hover[disabled="true"],
#button_cancel[disabled="true"],
#button_cancel:hover[disabled="true"],
#button_undo[disabled="true"],
#button_undo:hover[disabled="true"],
#sameplace_makenewplaylist[disabled="true"],
#sameplace_makenewplaylist:hover[disabled="true"],
#button_ok,
#button_browse,
#button_cancel,
#button_undo,
#sameplace_makenewplaylist,
#button_ok:hover,
#button_cancel:hover,
#button_undo:hover,
#sameplace_makenewplaylist:hover,
#button_browse:hover,
#button_ok:focus,
#button_cancel:focus,
#button_undo:focus,
#sameplace_makenewplaylist:focus,
#button_browse:focus {
  -moz-appearance: none !important;
}

/**********************************************************************
TEXTBOXES for dialogs and forms.
**********************************************************************/
.textbox-input-box,
.drawer_box textbox,
.dialog_textbox,
.smart_condition_box textbox,
.drawer_box input:focus,
.dialog_textbox input:focus,
.smart_condition_box input:focus,
.drawer_box[disabled="true"],
.dialog_textbox[disabled="true"],
.smart_condition_box[disabled="true"] {
  -moz-appearance: none !important;
}


/**********************************************************************
CHECKBOXES, boxes, labels, images, states.
**********************************************************************/
.checkbox-check,
.checkbox-spacer-box,
.checkbox-label-box,
checkbox[disabled="true"] .checkbox-check,
checkbox:hover:active .checkbox-check,
checkbox[checked="true"] .checkbox-check  {
  -moz-appearance: none !important;
}


/**********************************************************************
The following styles are for the specific dialog boxes themselves.
**********************************************************************/

/**********************************************************************
*FIRST RUN dialog, aka, the Bundle Picker.
**********************************************************************/
.sbextensions_box,
richlistbox,
richlistitem[selected="true"],
richlistitem > checkbox,
richlistitem > checkbox[selected="false"],
richlistitem:focus > checkbox,
richlistitem:focus > checkbox[selected="true"],
richlistitem > label,
richlistitem[selected="true"] > label {
  -moz-appearance: none !important;
}

/**********************************************************************
DOWNLOAD DIALOG
**********************************************************************/

input,
checkbox {
  -moz-appearance: none !important;
}

/**********************************************************************
MENUS, CONTEXTUAL MENUS, and MENUPOP-UPS. Poppin' Fresh.
**********************************************************************/

/**********************************************************************
THE TOP MENU (File, Edit, Etc...)
**********************************************************************/
#sameplace_menu,
#sameplace_menu > menu > label,
#sameplace_menu > menu:hover,
#sameplace_menu > menu:hover > label,
#sameplace_menu > menu[open],
#sameplace_menu > menu[open] > label,
#sameplace_menu > menu[_moz-menuactive="true"],
#sameplace_menu > menu[_moz-menuactive="true"] > label,
#sameplace_menu > menu#sameplace_menu_spacer {
 -moz-appearance: none !important; /* grrrr! */
}

/**********************************************************************
BASE MENUS
**********************************************************************/

menupopup, 
popup,
menuseparator,
menupopup > menu,
popup > menu,
popup, menuitem, popup > menuitem,
menuitem[_moz-menuactive="true"],  
popup > menuitem[_moz-menuactive="true"],
popup > menu[_moz-menuactive="true"],
menupopup > menu[_moz-menuactive="true"],
.menu-right[_moz-menuactive="true"],
.menu-right,
menuitem[checked="true"] > hbox[checked="true"],
menuitem[checked="true"] > hbox[_moz-menuactive="true"] {
  -moz-appearance: none !important; /* grrrr! */
}

/**********************************************************************
MENULIST
**********************************************************************/

menulist,
.menulist-dropmarker,
menulist:focus,
menulist:focus > hbox,
.dropmarker-icon {
  -moz-appearance: none !important; /* grrrr! */
}

