
/**********************************************************************
MAINWIN SIZE & POSITION
This CSS files specifies the size and position of the Main Window UI.
**********************************************************************/

/**********************************************************************
THE WINDOW CHROME
**********************************************************************/

#layout-content, /* added */
#mainwin_chrome_bkgd {
  -moz-appearance: none !important; 
}

#mainwin_chrome_n {
  -moz-appearance: none !important;
  border-top: 2px solid !important;
  height: 9px !important;   
  width: 9px !important; 
}

#mainwin_chrome_nw {
  -moz-appearance: none !important;
  border-top: 2px solid !important;
  border-left: 2px solid !important;
  height: 9px !important;   
  width: 9px !important;   
}

#mainwin_chrome_ne {
  -moz-appearance: none !important; 
  border-top: 2px solid !important;
  border-right: 2px solid !important;
  height: 9px !important;   
  width: 9px !important;
}

#mainwin_chrome_w {
  -moz-appearance: none !important; 
  border-left: 2px solid !important;
  height: 9px !important;   
  width: 9px !important;
}

#mainwin_chrome_e {
  -moz-appearance: none !important; 
  border-right: 2px solid !important;
  height: 9px !important;   
  width: 9px !important;
}

#mainwin_chrome_sw {
  -moz-appearance: none !important; 
  border-bottom: 2px solid !important;
  border-left: 2px solid !important;
  height: 9px !important;   
  width: 9px !important;
}

#mainwin_chrome_s {
  -moz-appearance: none !important; 
  border-bottom: 2px solid !important;
  height: 9px !important;   
  width: 9px !important;
}

#mainwin_chrome_se {
  -moz-appearance: none !important; 
  border-bottom: 2px solid !important;
  border-right: 2px solid !important;
  height: 9px !important;   
  width: 9px !important;
}
/**********************************************************************
TOP BAR
Minimize, Maximize, Restore, and Switch to Mini-Mode
**********************************************************************/

#app_icon {
  background-repeat: no-repeat !important;
  height: 9px !important;
  width: 9px !important;
  margin: 1px 5px 0px 2px !important;
}

#mainwin_app_title,
#video_window_title {
  margin: 0px 0px 0px 0px !important;
  font-family: tahoma, arial !important;
  font-weight: bold !important;
  font-size: 11px !important;
}

#sysbtn_close {
  width: 9px !important;
  height: 9px !important;
  background-repeat: no-repeat !important;
}

#sysbtn_maximize hbox,
#sysbtn_maximize {
  width: 9px !important;
  height: 9px !important;
  max-width: 9px !important;
  max-height: 9px !important;
  border: none !important;
  margin: -2px 0px 0px 0px !important;
  padding: 0px !important;
}

#sysbtn_maximize > hbox > image,
#sysbtn_maximize > hbox > label,
#sysbtn_maximize > hbox {
  width: 0px !important;
  height: 0px !important;
  max-width: 0px !important;
  max-height: 0px !important;
  border: none !important;
  margin: 0px !important;
  padding: 0px !important;
}

#sysbtn_maximize > image {
  width: 9px !important;
  height: 9px !important;
  border: none !important;
  margin: 0px !important;
  padding: 0px !important;
  background-repeat: no-repeat !important;
}

#sysbtn_maximize[checked="true"] > image /* Restore */ {
  width: 9px !important;
  height: 9px !important;
  border: none !important;
  margin: 0px !important;
  padding: 0px !important;
  background-repeat: no-repeat !important;
}

#sysbtn_minimize {
  width: 9px !important;
  height: 9px !important;
  background-repeat: no-repeat !important;
}

#sysbtn_minimode {
  width: 9px !important;
  height: 9px !important;
  background-repeat: no-repeat !important;
}

#sysbtn_hide {
  width: 9px !important;
  height: 9px !important;
  background-repeat: no-repeat !important;
}

/**********************************************************************
MAC OSX SPECIFIC CHROME - Top Bar
Minimize, Maximize, Restore, and Switch to Mini-Mode
**********************************************************************/
.mac {
	-moz-appearance: none !important;
}

.mac > #sysbtn_maximize {
  width: 15px !important;
  height: 17px !important;
  background-repeat: no-repeat !important;
}
.mac > #sysbtn_maximize hbox,
.mac > #sysbtn_maximize .checkbox-check {
  width: 15px !important;
  height: 17px !important;
  max-width: 15px !important;
  max-height: 17px !important;
  border: none !important;
  margin: 0px 0px 0px 0px !important;
  padding: 0px !important;
  opacity: 1.0 !important;
}
.mac > #sysbtn_maximize {
  width: 15px !important;
  height: 17px !important;
  max-width: 15px !important;
  max-height: 17px !important;
  border: none !important;
  margin: -1px 0px 0px 0px !important;
  padding: 0px !important;
  opacity: 1.0 !important;
}

.mac > #sysbtn_maximize > hbox > image,
.mac > #sysbtn_maximize > hbox > label,
.mac > #sysbtn_maximize > hbox {
  width: 0px !important;
  height: 0px !important;
  max-width: 0px !important;
  max-height: 0px !important;
  border: none !important;
  margin: 0px !important;
  padding: 0px !important;
}

.mac > #sysbtn_maximize > image {
  width: 15px !important;
  height: 17px !important;
  max-width: 15px !important;
  max-height: 17px !important;
  border: none !important;
  margin: 0px !important;
  padding: 0px !important;
  background-repeat: no-repeat !important;
}

.mac > #sysbtn_maximize[checked="true"] > image /* Restore */ {
  width: 15px !important;
  height: 17px !important;
  max-width: 15px !important;
  max-height: 17px !important;
  border: none !important;
  margin: 0px !important;
  padding: 0px !important;
  background-repeat: no-repeat !important;
}

.mac > #sysbtn_minimize { 
  width: 15px !important;
  height: 17px !important;
  max-width: 15px !important;
  max-height: 17px !important;
  margin: 0px 0px 0px 0px !important;
  padding: 0px !important;
  background-repeat: no-repeat !important;
}
.mac > #sysbtn_close {
  width: 15px !important;
  height: 17px !important;
  max-width: 15px !important;
  max-height: 17px !important;
  margin: 0px 0px 0px 0px !important;
  padding: 0px !important;
  background-repeat: no-repeat !important;
}
.mac > #sysbtn_minimode {  
  width: 25px !important;
  height: 17px !important;
  max-width: 25px !important;
  max-height: 17px !important;
  margin: 0px 0px 0px 0px !important;
  padding: 0px !important;
  background-repeat: no-repeat !important;
}



/**********************************************************************
THE LAYOUT for the Main Application Window
Love the box.
**********************************************************************/

#window-conversation {
  width:  480px !important;
  height: 480px !important;
  min-width: 480px !important;
  min-height: 320px !important;
}

#window-contacts {
    width:  240px !important;
    height: 320px !important;
  min-width: 240px !important;
  min-height: 320px !important;
}



/**********************************************************************
RESIZERS
**********************************************************************/
#frame_resize_t {
  width: 9px !important;
  height: 9px !important;
}

#frame_resize_to {
  width: 9px !important;
  height: 9px !important;
}

#frame_resize_m {
  width: 9px !important;
  height: 9px !important;  
}

#frame_resize_mo {
  height: 9px !important;
  width: 9px !important;
}

/**********************************************************************
WEB BAR
Browser Toolbar, Address Box, and Url-Slurper Button
**********************************************************************/

/* the box with the url image and the url textbox */
#browser_url_box {
  margin: 2px 0px 2px 3px !important;
  padding: 4px 3px 2px 3px !important;
  -moz-border-radius: 3px !important;
}

#browser_url_image {
  -moz-appearance: none !important; /* grrrr! */
  height: 16px !important;
  width: 16px !important;
  max-height: 16px !important;
  max-width: 16px !important;
  min-height: 16px !important;
  min-width: 16px !important;
  margin: 3px 0px 3px 5px !important;
}

#browser_url,
#contact,
.mainwin_location {
  margin: 0px 0px 0px 5px !important;
  border: none !important;
}

#browser_url .textbox-input,
#browser_url .textbox-input:focus,
#contact .textbox-input,
#contact .textbox-input:focus {
  border: none !important; 
//  padding: 2px 0px 0px 0px !important;
  margin-bottom: 4px; /* added */
}

#browser_toolbar {
  border-bottom: 1px solid !important; 
  height: 35px !important;
  padding-left: 2px !important;
}

#browser_toolbar button  {
  height: 30px !important;
  /* Must have an odd width so that odd width icons can be centered */
  width: 31px !important;  
  -moz-border-radius: 3px !important;
  padding: 0px 3px 0px 0px !important;
  margin: 2px 0px 2px 2px !important;
  border: 1px solid !important;
 }
 
#browser_toolbar button[disabled="true"],
#browser_toolbar button[disabled="true"]:hover {
  height: 30px !important;
  width: 31px !important;
  -moz-border-radius: 3px !important;
  margin: 2px 0px 2px 2px !important;
  border: 1px solid !important;
}

